extends ../../templates/default

block vars
  -var title = 'Exhibits'
  -var description = 'An overview of the exihibits to come and enjoy.'

block content
  .text-center
    h1 Exhibits
    hr
  .fixed-width
    p.text-center View more information on each of the exhibits below. 
    .row.text-center
      .col-md-6
        ul.list-group
          a.list-group-item(href="/exhibits/4H_Dairy") 4H Dairy
          a.list-group-item(href="/exhibits/4H_Horse_and_Pony") 4H Horse and Pony
          a.list-group-item(href="/exhibits/4H_Sheep_show") 4H Sheep Show
          a.list-group-item(href="/exhibits/4H_Youth_Hall") 4H Youth Hall
          a.list-group-item(href="/exhibits/Beef_Working_Steer_Ox") Beef Working Steer Ox
          a.list-group-item(href="/exhibits/Childrens_Barnyard") Childrens Barnyard
          a.list-group-item(href="/exhibits/Demo_Derby") Demo Derby
          a.list-group-item(href="/exhibits/Draft_Horse_Show" ) Draft Horse Show
          a.list-group-item(href="/exhibits/Goat_Show") Goat Show
          a.list-group-item(href="/exhibits/Gymkhana" ) Gymkhana
          a.list-group-item(href="/exhibits/Handmowing_Field_Crops" ) Field Crops & Handmowing
      .col-md-6
        ul.list-group
          a.list-group-item(href="/exhibits/Home_and_Garden_Departments" ) Home & Garden Departments
          //- a.list-group-item(href="/exhibits/Mini_and_Standard_Donkey_and_Mule" ) Mini & Standard Donkey and Mule 
          a.list-group-item(href="/exhibits/Open_Dairy" ) Open Dairy
          a.list-group-item(href="/exhibits/Open_Horse_Show" ) Open Horse Show
          a.list-group-item(href="/exhibits/Open_Sheep" ) Open Sheep
          a.list-group-item(href="/exhibits/Ox_Horse_Pony_Pulling" ) Ox, Horse, Pony Pulling
          a.list-group-item(href="/exhibits/Peewee_Dairy_Show") Peewee Dairy Show
          a.list-group-item(href="/exhibits/Poultry") Poultry Show
          a.list-group-item(href="/exhibits/Special_Events" ) Special Events
          a.list-group-item(href="/exhibits/Sugarmakers" ) Sugarmakers
          a.list-group-item(href="/exhibits/Tractor_Truck_Pulling" ) Tractor Truck Pulling 
  
 
    
    
