extends ../../templates/default

block vars
  -var title = 'Exhibits'
  -var description = 'An overview of the exihibits to come and enjoy.'

block content
  .text-center
    h1 Exhibits
    hr
  .fixed-width
    p.text-center View more information on each of the exhibits below. 
    .row.text-center
      .col-md-6
        ul.list-group
          a.list-group-item(href="/exhibits/4H_Dairy/" target="_blank") 4H Dairy
          a.list-group-item(href="/files/2019/4H_Horse_and_Pony.pdf" target="_blank") 4H Horse and Pony
          a.list-group-item(href="/files/2019/4H_Sheep_show.pdf" target="_blank") 4H Sheep Show
          a.list-group-item(href="/files/2019/4H_Youth_Hall.pdf" target="_blank") 4H Youth Hall
          a.list-group-item(href="/files/2019/Beef_Working_Steer_Ox.pdf" target="_blank") Beef Working Steer Ox
          a.list-group-item(href="/files/2019/Childrens_Barnyard.pdf" target="_blank") Childrens Barnyard
          a.list-group-item(href="/files/2019/Demo_Derby.pdf" target="_blank") Demo Derby
          a.list-group-item(href="/files/2019/Draft_Horse_Show.pdf" target="_blank") Draft Horse Show
          a.list-group-item(href="/files/2019/Goat_Show.pdf" target="_blank") Goat Show
          a.list-group-item(href="/files/2019/Gymkhana.pdf" target="_blank") Gymkhana
      .col-md-6
        ul.list-group
          a.list-group-item(href="/files/2019/Handmowing_Field_Crops.pdf" target="_blank") Handmowing, Field_Crops
          a.list-group-item(href="/files/2019/Home_and_Garden_Departments.pdf" target="_blank") Home and Garden Departments
          a.list-group-item(href="/files/2019/Mini_and_Standard_Donkey_and_Mule.pdf" target="_blank") Mini & Standard Donkey and Mule 
          a.list-group-item(href="/files/2019/Open_Dairy.pdf" target="_blank") Open Dairy
          a.list-group-item(href="/files/2019/Open_Horse_Show.pdf" target="_blank") Open Horse Show
          a.list-group-item(href="/files/2019/Open_Sheep.pdf" target="_blank") Open Sheep
          a.list-group-item(href="/files/2019/Ox_Horse_Pony_Pulling.pdf" target="_blank") Ox, Horse, Pony_Pulling
          a.list-group-item(href="/files/2019/Special_Events.pdf" target="_blank") Special Events
          a.list-group-item(href="/files/2019/Sugarmakers.pdf" target="_blank") Sugarmakers
          a.list-group-item(href="/files/2019/Tractor_Truck_Pulling.pdf" target="_blank") Tractor Truck Pulling 
  
 
    
    
