---
Title: "Food VendorForms"
Description: "Food Vendor forms."
---

.text-center
  h1 Food Vendor Contact Form
  p Please fill out the form below to contact us and we'll get back to you with a form as soon as possible.
.fixed-width 
  form(name='2020_food_vendor', method='POST', data-netlify='true', netlify-honeypot="bot-field" action="/success")
    p.hidden
        label
        | Don’t fill this out if you're human: 
        input(name='bot-field')
    
    label Personal Name: 
    input.form-control(type='text', name='name')
    br
    label Business Name: 
    input.form-control(type='text', name='business')
    br
    label Phone: 
    input.form-control(type='text', name='phone')
    br
    label Email: 
    input.form-control(type='email', name='email')
    br
    label Additional Note: 
    textarea.form-control(name='note')
    br
    button.btn.btn-default.pull-right(type='submit') Send