extends ../../templates/default

block vars
  -var title = 'Forms'
  -var description = 'Exhibitor forms.'

block content
  .text-center
    h1 Exhibitor Forms/Contracts
    a.btn.btn-primary(href="/files/2022/Contract-Exhibitor.doc") Exhibitor
    | &emsp;
    a.btn.btn-primary(href="/files/2022/Contract-Concessionaire.doc") Concessionaire
    | &emsp;
    a.btn.btn-primary(href="/forms/2020/food") Food Vendor
    hr
  .fixed-width
    p Use the above link to download all the exhibitor forms. From there you can find and print the form you need. 
    
    p Below is a list of the forms and a direct link to the page they are on:
    
    ul
      li 
        a(href="/files/2022/Camper Form.doc" target="_blank") Camper & Tent Registration
      li 
        a(href="/files/2022/Childrens Barnyard Entry Form.docx" target="_blank") Childrens Barnyard / Educational Displays
      li 
        a(href="/files/2022/Draft Horse Show Entry form.xls" target="_blank") Draft Horse Show
      li 
        a(href="/files/2022/Egg Judging Entry Form.docx" target="_blank") Egg Judgeing
      li 
        a(href="/files/2022/Handmowing.pdf" target="_blank") Hand Mowing Contest
      li 
        a(href="/files/2022/PEEWEE_ENTRY_form.doc" target="_blank") 4-H Dairy Peewee Exhibit
      li 
        a(href="/files/2022/4H-Dairy_ENTRY_form.doc" target="_blank") 4-H Dairy Exhibit & Parental Consent
      li 
        a(href="/files/2022/FMTWEntry2022.docx" target="_blank") 4-H & Other Youth Horse and Pony
      li 
        a(href="/files/2022/Home & garden.pdf" target="_blank") Home & Garden Departments
      li 
        a(href="/files/2022/OpenBeefWorkingSteerOxShowEntryForm.pdf" target="_blank") Open Beef, Working Steer & Ox Show
      li 
        a(href="/files/2022/Open Dairy.pdf" target="_blank") Open Diary Show
      //- li 
        a(href="/files/2021/horse_show_form_and_rules.pdf" target="_blank") Open Horse Show Rules and Entry Forms
      li 
        a(href="/files/2022/FDThursdayEntry2022.docx" target="_blank") Horse Show Entry Form
      
      li 
        a(href="/files/2022/Poultry Show Entry Form.docx" target="_blank") Poultry Show & 4-H & Other Youth Poultry Showmanship
      //- li 
        a(href="/files/Field_Days_Entry-Forms.pdf#page=9" target="_blank") Miniature Donkey & Mule Show
      li 
        a(href="/files/2022/Youth Hall.pdf" target="_blank") Youth Hall Space Request
      li
        a(href="/files/2022/Gymkhana.pdf" target="_blank") Gymkhana Registration
      li
        a(href="/files/2022/Rabbit Show Entry Form.docx" target="_blank") Rabbit Show
