extends ../../templates/default

block vars
  -var title = 'Forms'
  -var description = 'Exhibitor forms.'

block content
  .text-center
    h1 Exhibitor Forms/Contracts
    a.btn.btn-primary(href="/files/2022/Contract-Exhibitor.doc") Exhibitor
    | &emsp;
    a.btn.btn-primary(href="/files/2022/Contract-Concessionaire.doc") Concessionaire
    | &emsp;
    a.btn.btn-primary(href="/forms/2020/food") Food Vendor
    hr
  .fixed-width
    p Use the above link to download all the exhibitor forms. From there you can find and print the form you need. 
    
    p Below is a list of the forms and a direct link to the page they are on:
    
    ul
      li 
        a(href="/files/2023/forms/Camper Form.pdf" target="_blank") Camper & Tent Registration
      li 
        a(href="/files/2023/forms/Childrens Barnyard Entry Form.pdf" target="_blank") Childrens Barnyard / Educational Displays
      li 
        a(href="/files/2023/forms/Draft Horse Show Entry form.pdf" target="_blank") Draft Horse Show
      li 
        a(href="/files/2023/forms/Field Mowing & Draft Horse Sponsorship.pdf" target="_blank") Draft Horse Show Sponsorship
      li 
        a(href="/files/2023/forms/Egg Judging & Rabbit Show.pdf" target="_blank") Egg Judgeing
      li 
        a(href="/files/2023/forms/Field Mowing & Draft Horse Sponsorship.pdf" target="_blank") Hand Mowing Contest
      li 
        a(href="/files/2023/forms/PEEWEE Entry form.pdf" target="_blank") 4-H Dairy Peewee Exhibit
      li 
        a(href="/files/2023/forms/4H-Dairy_ENTRY_form.pdf" target="_blank") 4-H Dairy Exhibit & Parental Consent
      li 
        a(href="/files/2023/forms/4H-horse-and-pony-form.pdf" target="_blank") 4-H & Other Youth Horse and Pony
      li 
        a(href="/files/2023/forms/Home & Garden.pdf" target="_blank") Home & Garden Departments
      li 
        a(href="/files/2023/forms/OpenBeefWorkingSteerOxShowEntryForm.pdf" target="_blank") Open Beef, Working Steer & Ox Show
      li 
        a(href="/files/2023/forms/Open Dairy.pdf" target="_blank") Open Diary Show
      //- li 
        a(href="/files/2021/horse_show_form_and_rules.pdf" target="_blank") Open Horse Show Rules and Entry Forms
      //- li 
      //-   a(href="/files/2022/FDThursdayEntry2022.docx" target="_blank") Horse Show Entry Form
      
      li 
        a(href="/files/2023/forms/4-H All Other Show Entry Form.pdf" target="_blank") Poultry Show & 4-H & Other Youth Poultry Showmanship
      //- li 
        a(href="/files/Field_Days_Entry-Forms.pdf#page=9" target="_blank") Miniature Donkey & Mule Show
      li 
        a(href="/files/2023/forms/Youth Hall.pdf" target="_blank") Youth Hall Space Request
      li 
        a(href="/files/2023/forms/Youth Hall Volunteer.pdf" target="_blank") Youth Hall Space Volunteer
      li
        a(href="/files/2023/forms/Gymkhana.pdf" target="_blank") Gymkhana Registration
      li
        a(href="/files/2023/forms/Egg Judging & Rabbit Show.pdf" target="_blank") Rabbit Show
      li
        a(href="/files/2023/forms/Maple Show.pdf" target="_blank") Maple Show
