extends ../templates/default

block vars
  -var title = '2020 Season Canceled | Addison County Fair and Field Days'
  -var description = '2020 Fair and Field Days has been canceled.'

block content
  .jumbotron.text-center
    h1 2020 Season Canceled
  .fixed-width
    p The Board of Directors announce that Addison County Fair and Field Days and all currently scheduled events at the fairgrounds are cancelled for this year.  COVID-19 and our regard for the health and safety of our exhibitors, volunteers, fairgoers, and fair has caused us to reluctantly cancel this year’s fair.  We have listened to Governor Scott and Dr. Levine, Commissioner of Health, thought long and hard, and discussed at length and have come to the conclusion that our fair is just not a safe event to hold this year.  Field Days has long been an event where Addison County can showcase to all a family-friendly, safe, fun place to be, one that is anticipated all year, and thoroughly enjoyed by all who attend.  There is a sadness in our hearts and a disbelief in our minds as we considered the responsibility we hold for the health of our loyal Field Days family and all the families that attend our event.

    p Financially, Addison County Fair and Field Days is struggling to meet our commitments as are many in this time.  We are a non-profit organization and every fair we hold provides the income to hold another fair the next year. As our economy rebuilds, and our state reopens, we hope you think of Addison County Fair and Field Days with a donation towards next year’s fair.

    p We look forward to next year with the hope that this pandemic is behind us and we can once again celebrate Addison County with the best fair and field days ever.  We thank you for your support and stand with Vermont and the entire country in doing the right thing to keep everyone healthy during this time.

    p.text-right.lead
      | The Board of Directors
      br
      | Addison County Fair and Field Days 