extends ../templates/default

block vars
  -var title = 'Addison County Fair and Field Days'
  -var description = 'Vermont\'s Premier Agricultural Fair.  Check out the resources for entering animal exhibits, handicrafts, and come and see our historical exhibit.'

block content
  .jumbotron.text-center
    //- h1 The 2020 Season Canceled 😭
      br
      a.small(href="/canceled/") Learn More
    h1 Please join us at the Fair
      br
      | August 10-14, 2021!


    h2 Other News
    h4(style="max-width: 800px; margin: auto;")
      ul 
        li
          b 3/6 IS OUR 1ST EVER VIRTUAL GALA!
          br
          a(href="https://youtu.be/M9jJ3SO0y7A") Please click here to watch.
          | We wish everyone Good Luck!
        br
        li
          | Any free passes that you have for this years fair(2020) will we honored 
          
          |  for next years fair(2021) due to cancelation from COVID19
        

        //- li
        //-   |  Winter storage will be the 3rd and 4th weekend in October.
          
        //-   a(href="/files/2020/Winter_Storage_Contract.docx") Download Storage Contract
        //- li
        //-   |  The annual meeting will be on October 5th and will be virtual.  
          
        //-   | People should contact Cara (fielddays at gmavt.net) if they'd like an invite.  
      //- h4 New Exhibitor forms for 2020 have been posted on the 
            a(href="/forms/") forms page.

    img(src="/files/home-page-jumbotron.jpg")
    
    h3 Share Your Experience!
    h4 Use the hashtag
      mark #fielddays2021
    a.btn.btn-default.btn-sm(href="https://www.facebook.com/addisonfielddaysvt/") Join our Facebook Group
