extends ../templates/default

block vars
  -var title = 'Test'
  -var description = 'test'

block content
  h1 Test
  div
    
  .content
    .panel-group
      .panel.panel-default
        .panel-body
          p Hi,
            br