extends ../templates/default

block vars
  -var title = 'Addison County Fair and Field Days'
  -var description = 'Vermont\'s Premier Agricultural Fair.  Check out the resources for entering animal exhibits, handicrafts, and come and see our historical exhibit.'

block content
  .text-center
    //- h1 The 2020 Season Canceled 😭
      br
      a.small(href="/canceled/") Learn More
    h1.strong Please join us at the Fair
      br
      | August 9-13, 2022!
    hr


    h3 Winter Storage Removal Information:
    .row 
      .col-md-3.col-md-offset-3
        h4 Saturdays
        p April 9th & 23rd
          br
          | 9:00am – 3:00pm 
      .col-md-3
        h4 Sundays
        p April 10th & 24th
          br
          | 11:00am – 3:00pm. 
    hr
    h3 Weddings on the fair grounds!
    p Want to learn more about using the fair grounds as a wedding venue? 
      a(href="/weddings") Learn more here!

    hr
    h3 2022 Schedule of Events
    p
      a(href="/schedule/2022") Click here to view the schedule for events this year at field days.
    

    


    //-h3 
      a(href="/files/2021/Winter_Storage_Contract_2021.docx") Download the Winter Storage Form
   
    //- h2 Other News

    //- .fixed-width.text-left.small
      p.strong Please Note the following before attending events on the fair grounds:
        ul
          li
            p All Directors, Superintendents, Event and Program Directors, paid employees, and contractors are required to be vaccinated against COVID-19.  
          li
            p We recommend all other volunteers also be vaccinated. 
          li 
            p Per the CDC guidelines, we recommend that all unvaccinated volunteers and attendees wear a mask when inside a building.
    


    //-h3
      p
        b 2021 Schedule of Events
        br
        a(href="/schedule/2021") Click here to view the schedule for events this year at field days.
    
    hr
    img.img-responsive(src="/files/home-page-jumbotron.jpg")
    
    h3 Share Your Experience!
    h4 Use the hashtag
     - var year = new Date().getFullYear();
      mark #fielddays#{year}
    a.btn.btn-default.btn-sm(href="https://www.facebook.com/addisonfielddaysvt/") Join our Facebook Group
