extends ../templates/default

block vars
  -var title = 'Addison County Fair and Field Days'
  -var description = 'Vermont\'s Premier Agricultural Fair.  Check out the resources for entering animal exhibits, handicrafts, and come and see our historical exhibit.'

block content
  .text-center
    //- h1 The 2020 Season Canceled 😭
      br
      a.small(href="/canceled/") Learn More
    h1.strong Please join us at the Fair
      br
      | August 10-14, 2021!
    hr
   
    //- h2 Other News

    .fixed-width.text-left.small
      p.strong Please Note the following before attending events on the fair grounds:
        ul
          li
            p All Directors, Superintendents, Event and Program Directors, paid employees, and contractors are required to be vaccinated against COVID-19.  
          li
            p We recommend all other volunteers also be vaccinated. 
          li 
            p Per the CDC guidelines, we recommend that all unvaccinated volunteers and attendees wear a mask when inside a building.
          li 
            p
              | Any free passes that you have for last years fair(2020) will we honored  
              |  for next years fair(2021) due to cancelation from COVID-19
    
    h3
      p
        b 2021 Schedule of Events
        br
        a(href="/schedule/2021") Click here to view the schedule for events this year at field days.
    
    hr
    img.img-responsive(src="/files/home-page-jumbotron.jpg")
    
    h3 Share Your Experience!
    h4 Use the hashtag
     - var year = new Date().getFullYear();
      mark #fielddays#{year}
    a.btn.btn-default.btn-sm(href="https://www.facebook.com/addisonfielddaysvt/") Join our Facebook Group
