---
Title: "Thanks! | Addison County Fair and Field Days"
Description: "Vermont's Premier Agricultural Fair.  Check out the resources for entering animal exhibits, handicrafts, and come and see our historical exhibit."
---

.jumbotron.text-center
  h1 Thanks! 
  h2 We have received your submission.
  p We will respond as soon as possible.
