extends ../../templates/default

block vars
  -var title = 'FAQ'
  -var description = 'A place to ask a question.'

block content
  .text-center
    h1 Contact Us
    hr

  .fixed-width
    .text-center
    p.text-center Have a problem or question that isn't answered elsewhere on this site? 
    p.text-center Let us know! We'll try and respond as best we can.
    
    .alert.alert-warning Please contact the
      a(href="/information/board")  Board of Directors
      |  with inquires about being part of the fair's exhibits or shows.

    .alert.alert-warning Please check the 
      a.strong.alert-link(href="/schedule/") schedule
      | &nbsp;and the rest of this site before asking questions.
      br
      | Answers about when events are scheduled and other general information 
      br
      | are answered elsewhere on this site.
    form(name='contact', method='POST', data-netlify='true', netlify-honeypot="bot-field" action="/success")
      p.hidden
        label
          | Don’t fill this out if you're human: 
          input(name='bot-field')
      
      label Your Name: 
      input.form-control(type='text', name='name')
      br
      label Your Email: 
      input.form-control(type='email', name='email')
      br
      label Message: 
      textarea.form-control(name='message')
      br
      button.btn.btn-default.pull-right(type='submit') Send
