extends ../../templates/default

block vars
  -var title = 'Schedule'
  -var description = 'An overview of the fairs schedule.'

block content
  .text-center
    h1 Schedule
    //- a.btn.btn-primary(href="/files/Field-Days-Schedule.pdf"  target="_blank") Download Schedule
    p.large Touch or Click on items below to expand.
    hr
  .fixed-width
    panel.panel-default
      .panel-heading.pointer-hand(data-toggle='collapse', href='#daily')
        h2.text-center Daily Activities
      #daily.panel-collapse.collapse
        p Please Note: Most exhibits will be removed on Saturday night at 10.
        table.table.table-striped.table-hover
          tr
            td 10am - 10pm
            td Children’s Barnyard Open
          tr
            td 10am - 10pm
            td 4-H & Youth Building Open
          tr
            td 10am - 10pm
            td Antique Equipment Building Open
          tr
            td 9am - 9pm
            td Maple Sugar House Open
          tr
            td 10am - 6pm
            td Twist O’ Wool Guild Demos (Twist O’ Wool Guild tent)
          tr
            td 10am - 10pm
            td Forest Festival Exhibits & Demonstrations (forestry building)
          tr
            td 10am - 10pm
            td Home & Garden Building Open with continuous craft demos
          tr
            td 10am - 10pm
            td Lucien Paquette Exhibit Building Open
          tr
            td 10am - 5pm
            td Wood Carving (antique equipment area)
          tr
            td Daily
            td Maple Products Demonstrations (maple sugar house)
          tr
            td 12pm - 12am
            td Midway Open (approximately)
          tr
            td 1pm - 4pm
            td Milking Parlor Demonstrations
          tr
            td 1pm - 6pm
            td Cairo Northern Clowns (walk around entertainment) (W-Sat only)
    
    hr
    panel.panel-default
        .panel-heading.pointer-hand(data-toggle='collapse', href='#tuesday')
            h2.text-center Tuesday
            p.text-center.text-muted Opening Cerimony & Parade, Antique Pulls, Dinners & Shows
        #tuesday.panel-collapse.collapse
          h3 Morning
          table.table.table-striped.table-hover
            tr
              td 8:30
              td Western Only 4-H and Open Youth Junior Horse Show (horse area)
            tr
              td 9:00
              td 4-H Dairy Conformation Classes (animal show arena)
            tr
              td 10:00
              td Open Miniature Donkey Show (Butterfeld Arena)
            tr
              td 10:30
              td Antique Equipment Demos (antique equipment area)
            tr
              td 11:00
              td Tom Joyce, The Magic Man (bandstand)
            tr
              td 11:00
              td VT Brew Kick Contest (next to Show Tent)
            tr
              td 11:00
              td Puppy Love (Connor Home Stage in Paquette Bldg)
            
          h3 Afternoon
          table.table.table-striped.table-hover
            tr
              td 12:00
              td Dig For Treasure! (youth activity area) - FREE
            tr
              td 12:00
              td Pirate Man Dan (show tent)
            tr
              td 12:30
              td “Robinson’s Racing Pigs” (dairy area)
            tr
              td 1:00
              td Midway Opens (approximately)
            tr
              td 1:00
              td VTPA-Garden Tractor Antique (tractor pad)
            tr
              td 1:00
              td CWTrails Bike Stunt Show (show area)
            tr
              td 1:00
              td Puppy Love Bingo (Connor Home Stage in Paquette Bldg)
            tr
              td 1:30
              td Antique Equipment Demos (antique equipment area)
            tr
              td 1:30
              td 4-H Hands on Workshop (4-H exhibit building)
            tr
              td 2:00
              td No Till Drill Demos (Antique Equipment Area)
            tr
              td 2:00
              td Sheep Shearing/Handling Demonstration (sheep tent)
            tr
              td 2:00
              td Children’s Activities (children’s barnyard area) - FREE
            tr
              td 2:30
              td Pirate Man Dan (show tent)
            tr
              td 3:00
              td Antique Equipment Demos (antique equipment area)
            tr
              td 3:00
              td Puppy Love Bingo (Connor Home Stage in Paquette Bldg)
            tr
              td 3:00
              td “Robinson’s Racing Pigs” (dairy area)
            tr
              td 3:30
              td 4-H Hands on Workshop (4-H exhibit building)
            tr
              td 3:30
              td “Robinson’s Racing Pigs” (dairy area)
            tr
              td 3:30
              td CWTrails Bike Stunt Show (show area)
            tr
              td 4:00
              td Tom Joyce, The Magic Man (bandstand)
            tr
              td 5:15
              td Vermont Products Dinner-1st Sitting (dining hall)
            tr
              td 5:00
              td Gymkhana (horse area)
            tr
              td 6:00
              td Vermont Products Dinner-2nd Sitting (dining hall)
            tr
              td 6:00
              td BRACELET NIGHT for rides ($15 - rides unlimited)
            tr
              td 6:00
              td “Robinson’s Racing Pigs” (dairy area)
            tr
              td 6:00
              td CWTrails Bike Stunt Show (show area)
            tr
              td 6:30
              td VTPA-ATV’s & Antique Pulls (tractor pad)
            tr
              td 6:45
              td Vermont Products Dinner-3rd Sitting (dining hall)
            tr
              td 7:00
              td Miniature Horse Team Hitching Demonstration (children’s barnyard area)
            tr
              td 7:00
              td Addison County Gospel Choir (show tent)
            tr
              td 8:00
              td Field Days Opening Parade - “Say, Cheese!”
            
    
    panel.panel-default
        .panel-heading.pointer-hand(data-toggle='collapse', href='#wednesday')
          h2.text-center Wednesday
          p.text-center.text-muted Agricultral Shows & Demos, Caber Toss, Karaoke , and The Demolition Derby
        #wednesday.panel-collapse.collapse
          h3 Morning
          table.table.table-striped.table-hover
            tr
              td 8:30
              td English Only 4-H and Open Youth Jr. & Sr. Horse Show (horse area)
            tr
              td 9:00
              td Open Dairy Show-Holsteins, Ayrshires, Milking Long Horns
            tr
              td 10:00
              td Children’s Activities (children’s barnyard area) - FREE
            tr
              td 10:00
              td 4-H & Other Youth Rabbit Showmanship (poultry tent)
            tr
              td 10:30
              td Antique Equipment Demos (antique equipment area)
            tr
              td 10:30
              td Ox Pulling (Butterfeld Arena)
            tr
              td 11:00
              td Puppy Love (Connor Home Stage in Paquette Bldg)
            tr
              td 11:00
              td Tom Joyce, The Magic Man (bandstand)
            
          h3 Afternoon
          table.table.table-striped.table-hover
            tr
              td 12:00
              td Midway Opens (approximately, All day/night bracelet-$20)
            tr
              td 12:00
              td Dig For Treasure! (youth activity area) - FREE
            tr
              td 12:00
              td Peterson Quality Malt Men’s Caber Toss (tractor pad)
            tr
              td 12:30
              td “Robinson’s Racing Pigs” (dairy area)
            tr
              td 1:00
              td Peterson Quality Malt Ladies Iron Skillet Toss (tractor pad)
            tr
              td 1:00
              td Puppy Love Bingo (Connor Home Stage in Paquette Bldg)
            tr
              td 1:00
              td CWTrails Bike Stunt Show (show area)
            tr
              td 1:30
              td Antique Equipment Demos (antique equipment area)
            tr
              td 1:30
              td 4-H Hands on Workshop (4-H exhibit building)
            tr
              td 1:30
              td Pirate Man Dan (show tent)
            tr
              td 2:00
              td No Till Drill Demos (Antique Equipment Area)
            tr
              td 2:00
              td Sheep Shearing/Handling Demonstration (sheep show tent)
            tr
              td 2:30
              td Tom Joyce, The Magic Man (bandstand)
            tr
              td 3:00
              td Puppy Love Bingo (Connor Home Stage in Paquette Bldg)
            tr
              td 3:00
              td “Robinson’s Racing Pigs” (dairy area)
            tr
              td 3:00
              td Antique Equipment Demos (antique equipment area)
            tr
              td 3:30
              td 4-H Hands on Workshop (4-H exhibit building)
            tr
              td 3:30
              td CWTrails Bike Stunt Show (show area)
            tr
              td 4:30
              td Pirate Man Dan (show tent)
            tr
              td 5:00
              td “Robinson’s Racing Pigs” (dairy area)
            tr
              td 5:00
              td Working Steer/Oxen Demonstrations (animal show arena)
            tr
              td 5:30
              td Miniature Horse Team Hitching Demonstration (children’s barnyard area)
            tr
              td 6:00
              td CWTrails Bike Stunt Show (show area)
            tr
              td 7:00
              td Karaoke Talent Night with DJ Amanda Rock (signup at 6:30) (show tent)
            tr
              td 7:00
              td G. Stone Motors Demolition Derby (tractor pad)
            tr
              td 7:30
              td Aaron Audet (bandstand)
  
    panel.panel-default
        .panel-heading.pointer-hand(data-toggle='collapse', href='#thursday')
          h2.text-center Thursday
          p.text-center.text-muted Tractor Pull & The Demolition Derby
        #thursday.panel-collapse.collapse
          h3 Morning
          table.table.table-striped.table-hover
            tr
              td 8:00
              td Annual ACFFD Open Horse Show (horse area)
            tr
              td 9:00
              td 4-H Dairy Fitting & Showmanship Classes (animal show arena)
            tr
              td 9:00
              td 4-H & Other Youth Sheep Show (sheep show tent)
            tr
              td 10:00
              td Hand Mowing Contest (antique equipment demo area)
            tr
              td 10:30
              td Pony Pulling (Butterfeld Arena)
            tr
              td 10:30
              td Antique Equipment Demos (antique equipment area)
            tr
              td 11:00
              td Pedal Tractor Pull (show tent) (sign-ups at 10:00)
            tr
              td 11:30
              td Tom Joyce, The Magic Man (bandstand)
            tr
              td 11:00
              td Puppy Love (Connor Home Stage in Paquette Bldg)
      
          h3 Afternoon
          table.table.table-striped.table-hover
            tr
              td 12:00
              td Midway Opens (approximately)
            tr
              td 12:00
              td Dig For Treasure! (youth activity area) - FREE
            tr
              td 12:00
              td Children’s Activities (children’s barnyard area) - FREE
            tr
              td 12:30
              td “Robinson’s Racing Pigs” (dairy area)
            tr
              td 1:00
              td CWTrails Bike Stunt Show (show area)
            tr
              td 1:00
              td Puppy Love Bingo (Connor Home Stage in Paquette Bldg)
            tr
              td 1:30
              td Antique Equipment Demos (antique equipment area)
            tr
              td 1:30
              td Pirate Man Dan (show tent)”
            tr
              td 1:30
              td 4-H Hands on Workshop (4-H exhibit building)
            tr
              td 2:00
              td No Till Drill Demos (Antique Equipment Area)
            tr
              td 2:30
              td Tom Joyce, The Magic Man (bandstand)
            tr
              td 3:00
              td Antique Equipment Demos (antique equipment area)
            tr
              td 3:00
              td Puppy Love Bingo (Connor Home Stage in Paquette Bldg)
            tr
              td 3:00
              td “Robinson’s Racing Pigs” (children’s barnyard area)
            tr
              td 3:30
              td 4-H Hands on Workshop (4-H exhibit building)
            tr
              td 3:30
              td CWTrails Bike Stunt Show (show area)
            tr
              td 4:00
              td Youth & Open Working Steer/Oxen Demonstration (animal show arena)
            tr
              td 4:30
              td Pirate Man Dan (show tent)
            tr
              td 5:00
              td VT Brew Kick Contest (next to Show Tent)
            tr
              td 5:00
              td “Robinson’s Racing Pigs” (dairy area)
            tr
              td 5:30
              td Miniature Horse Team Hitching Demonstration (children’s barnyard area)
            tr
              td 6:00
              td BRACELET NIGHT for rides ($17 - rides unlimited)
            tr
              td 6:00
              td CWTrails Bike Stunt Show (show area)
            tr
              td 7:00
              td G. Stone Motors Demolition Derby (tractor pad)
            tr
              td 7:00
              td Toast (Band Stand)
            tr
              td 7:30
              td Animal Costume Class (animal show arena)
            tr
              td 8:00
              td Horse Traders (Show Tent)
    
    panel.panel-default
        .panel-heading.pointer-hand(data-toggle='collapse', href='#friday')
          h2.text-center Friday
          p.text-center.text-muted More Shows, Armwrestling and Pulling Competitions
        #friday.panel-collapse.collapse
          h3 Morning
          table.table.table-striped.table-hover
            tr
              td 8:30
              td Exhibitors’ Breakfast (dining hall)
            tr
              td 9:00
              td Draft Horse Show (horse area)
            tr
              td 9:00
              td Open Sheep Show (sheep show tent)
            tr
              td 10:00
              td Children’s Activities (children’s barnyard area) - FREE
            tr
              td 10:00
              td Horse Pulling (Butterfeld Arena)
            tr
              td 10:30
              td Antique Equipment Demos (antique equipment area)
            tr
              td 11:00
              td Tom Joyce, The Magic Man (bandstand)
            tr
              td 11:00
              td Puppy Love (Connor Home Stage in Paquette Bldg)
            
          h3 Afternoon
          table.table.table-striped.table-hover
            tr
              td 12:00
              td Dig For Treasure! (youth activity area) - FREE
            tr
              td 12:00
              td BRACELET TIME for rides ($12 - rides unlimited)
            tr
              td 12:00
              td VTPA-Farmstock, Street Legal, Pro Diesel, 2WD Mini Truck Pulls (tractor pad)
            tr
              td 12:00
              td Pirate Man Dan (show tent)
            tr
              td 12:00
              td “Robinson’s Racing Pigs” (dairy area)
            tr
              td 12:30
              td PeeWee Dairy Showmanship (animal show arena)
            tr
              td 1:00
              td Brandon Rec Cheer (bandstand)
            tr
              td 1:00
              td 4 Abreast, Show Division (horse area)
            tr
              td 1:00
              td Puppy Love Bingo (Connor Home Stage in Paquette Bldg)
            tr
              td 1:00
              td CWTrails Bike Stunt Show (show area)
            tr
              td 1:30
              td Antique Equipment Demos (antique equipment area)
            tr
              td 1:30
              td 4-H Hands on Workshop (4-H exhibit building)
            tr
              td 2:00
              td No Till Drill Demos (Antique Equipment Area)
            tr
              td 2:00
              td Pirate Man Dan (show tent)
            tr
              td 3:00
              td Open and Youth Beef Show (animal show arena)
            tr
              td 3:00
              td Puppy Love Bingo (Connor Home Stage in Paquette Bldg)
            tr
              td 3:00
              td “Robinson’s Racing Pigs” (dairy area)
            tr
              td 3:00
              td Brandon Rec Cheer (bandstand)
            tr
              td 3:00
              td Antique Equipment Demos (antique equipment area)
            tr
              td 3:30
              td 4-H Hands on Workshop (4-H exhibit building)
            tr
              td 3:30
              td CWTrails Bike Stunt Show (show area)
            tr
              td 4:00
              td Tom Joyce, The Magic Man (bandstand)
            tr
              td 5:00
              td Armwrestling-Kids 16 & under (sign up at 4:00)(show tent)
            tr
              td 5:00
              td “Robinson’s Racing Pigs” (dairy area)
            tr
              td 5:30
              td Miniature Horse Team Hitching Demonstration (children’s barnyard area)
            tr
              td 6:00
              td BRACELET NIGHT: for rides ($17-rides unlimited)
            tr
              td 6:00
              td Beef Demonstration (Animal Show Arena)
            tr
              td 6:00
              td RE/MAX Tethered Hot Air Balloon Rides (parking Lot, weather permitting)
            tr
              td 6:00
              td CWTrails Bike Stunt Show (show area)
            tr
              td 7:00
              td VTPA-Farmstock, NYPTA Super Farm, VT V8 Minis, 2WD Minis (tractor pad)
            tr
              td 7:00
              td Armwrestling-Adults (weigh-ins 5:00)(show tent)
            tr
              td 7:00
              td Sunnyland Blues (bandstand)
    
    panel.panel-default
        .panel-heading.pointer-hand(data-toggle='collapse', href='#saturday')
          h2.text-center Saturday
          p.text-center.text-muted Dairy Show, Pulling Competitions & more!
        #saturday.panel-collapse.collapse
          h3 Morning
          table.table.table-striped.table-hover
            tr
              td 9:00
              td Open Dairy Show-Guernsey & Brown Swiss
            tr
              td 9:00
              td Draft Horse Show (horse area)
            tr
              td 9:00
              td 4H & Other Youth Poultry Showmanship
            tr
              td 9:00
              td Goat Show (Sheep Area)
            tr
              td 10:00
              td Children’s Activities (children’s barnyard area) - FREE
            tr
              td 10:00
              td Baked Bean Bonanza Contest & Samples (solar barn)
            tr
              td 10:30
              td Antique Equipment Demos (antique equipment area)
            tr
              td 10:30
              td Youth Sheep Blocking and Fitting Contest (sheep tent)
            tr
              td 11:00
              td VTPA-Stock, Modifed, Super stock 4x4, Altered Farm Street Legal Semi (tractor pad)
            tr
              td 11:30
              td Pirate Man Dan (show tent)
            tr
              td 11:00
              td Puppy Love (Connor Home Stage in Paquette Bldg)
            
          h3 Afternoon
          table.table.table-striped.table-hover
            tr
              td 12:00
              td Midway Opens (approximately)
            tr
              td 12:00
              td Dig For Treasure! (youth activity area) - FREE
            tr
              td 12:00
              td “Robinson’s Racing Pigs” (dairy area)
            tr
              td 12:30
              td Tom Joyce, The Magic Man (bandstand)
            tr
              td 1:00
              td Rack ‘N Reel’s Sling Shot Competition (sign up at 12:00)(Butterfeld Arena)
            tr
              td 1:00
              td Puppy Love Bingo (Connor Home Stage in Paquette Bldg)
            tr
              td 1:00
              td Six Horse Hitch, North American Classic Six Qualifer (horse area)
            tr
              td 1:00
              td CWTrails Bike Stunt Show (show area)
            tr
              td 1:30
              td Antique Equipment Demos (antique equipment area)
            tr
              td 1:30
              td 4-H Hands on Workshop (4-H exhibit building)
            tr
              td 2:00
              td No Till Drill Demos (Antique Equipment Area)
            tr
              td 2:00
              td Pirate Man Dan (show tent)
            tr
              td 2:30
              td Turkey Calling Contest (Butterfeld Arena)
            tr
              td 3:00
              td Antique Equipment Demos (antique equipment area)
            tr
              td 3:00
              td Puppy Love Bingo (Connor Stage in Paquette Bldg)
            tr
              td 3:00
              td Sheep & Wool Garment Lead Line Class (sheep show tent)
            tr
              td 3:00
              td Sheep Shearing/Handling Demonstration (sheep tent)
            tr
              td 3:00
              td “Robinson’s Racing Pigs” (dairy area)
            tr
              td 3:30
              td Duck & Goose Calling Contest (sign up at 2:30)(Butterfeld Arena)
            tr
              td 3:30
              td 4-H Hands on Workshop (4-H exhibit building)
            tr
              td 3:30
              td Tom Joyce, The Magic Man (bandstand)
            tr
              td 5:00
              td Home & Garden Awards & Leona Thompson Bowl Presentation (home & garden bldg)
            tr
              td 5:00
              td “Robinson’s Racing Pigs” (dairy area)
            tr
              td 5:30
              td Miniature Horse Team Hitching Demonstration (children’s barnyard area)
            tr
              td 6:00
              td BRACELET NIGHT for rides ($17 - rides unlimited)
            tr
              td 6:00
              td RE/MAX Tethered Hot Air Balloon Ride (parking Lot, weather permitting)
            tr
              td 6:00
              td CWTrails Bike Stunt Show (show area)
            tr
              td 6:00
              td Michelle Fay Band (bandstand)
            tr
              td 7:00
              td VTPA-VT V8 Minis, Altered Farm, Legal Semis, S.S. 4x4 Pickups VT V8 (tractor pad)
            tr
              td 7:30
              td Kevin Brisson (show tent)
            tr
              td 9:15
              td Champlain Valley Equipment Closing Fireworks Display (set of east of horse area)
    
    
