extends ../../templates/default

block vars
  -var title = 'Schedule'
  -var description = 'An overview of the fairs schedule.'

block content
  .text-center
    h1 Schedule
    a.btn.btn-primary(href="/files/Field-Days-Schedule.pdf"  target="_blank") Download Schedule
    hr
  .fixed-width
    h2.text-center Daily Activities
    p Please Note: Most exhibits will be removed on Saturday night at 10.
    table.table
      tr
        td 10am - 10pm
        td Children’s Barnyard Open
      tr
        td 10am - 10pm
        td 4-H & Youth Building Open
      tr
        td 10am - 10pm
        td Antique Equipment Building Open
      tr
        td 9am - 9pm
        td Maple Sugar House Open
      tr
        td 10am - 6pm
        td Twist O’ Wool Guild Demos (Twist O’ Wool Guild tent)
      tr
        td 10am - 10pm
        td Forest Festival Exhibits & Demonstrations (forestry building)
      tr
        td 10am - 10pm
        td Home & Garden Building Open with continuous craft demos
      tr
        td 10am - 10pm
        td Lucien Paquette Exhibit Building Open
      tr
        td 10am - 5pm
        td Wood Carving (antique equipment area)
      tr
        td Daily
        td Maple Products Demonstrations (maple sugar house)
      tr
        td 12pm - 12am
        td Midway Open (approximately)
      tr
        td 1pm - 4pm
        td Milking Parlor Demonstrations
      tr
        td 1pm - 6pm
        td Cairo Northern Clowns (walk around entertainment) (W-Sat only)
 
    
    
