/*@font-face {
  font-family: "NationalPark";
  src: url("/files/fonts/nationalpark/NationalPark-Heavy.otf") format("opentype");
}*/

@import url('https://fonts.googleapis.com/css?family=Rye&display=swap');

body {
  font-size: 20px;
}

a.navbar-brand {
  color: #FFF;
  font-family: 'Rye', cursive;
  font-size: 1.8em;
  font-stretch: 100%;
  padding-left: 10px;
}
.navbar-nav {
  font-family: 'Rye', cursive;
  font-size: 25px;
}
.navbar-inverse .navbar-toggle {
  border-color: #fff;
  color: #fff;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 0px;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: darken(@brand-dark, 15%);
}

#wrap {
  min-height: 100vh;
}

.jumbotron {
  font-family: 'Rye', cursive;
  padding: 0;
  margin: auto;
  img {
    max-width: 100%;
  }
}

#container.container {
  margin-top: (@navbar-height + 10);
  margin-bottom: (@navbar-height + 10);
}

h1 {
  margin-bottom: 22px;
  font-family: 'Rye', cursive;
}

p {
  font-family: "Times New Roman", Times, serif;
}

.fixed-width {
  max-width: 800px;
  margin: auto;
  img {
    max-width: 100%;
  }
}

.pointer-hand {
  cursor: pointer;
}

.footer {
  font-size: 12px;
}

.markdown-content {
  h1 {
    text-align: center;
  }
  h2 {
    margin-top: 40px;
    border-bottom: black 1px dotted;
  }
}

@media (max-width: @screen-md) {
  a.navbar-brand {
    font-size: 1em;
    max-width: 70%;
  }
  #container.container {
    margin-left: 10px;
    margin-right: 10px;
  }
}
