extends ../../templates/default

block vars
  -var title = 'Admission Fees'
  -var description = 'General information about the fair, including a fairgrounds map.'

block content
  .text-center
    h1 Admissions
    //- a.btn.btn-primary(href="/files/Field-Days-Admissions-and-Policies.pdf" target='_blank') Download PDF
    hr
  .fixed-width
    b
      | Your ticket price includes parking, gate admission, re-admission, grandstands, all field days shows & exhibits.
    p Ticket office opens at 7:30 am.
    h3 ADULTS (ages 12 and over)
    p
      
      br
      | Tuesday – Saturday Daily Admission 
      strong $13.00
      br
      | SEASON PASS 
      strong $45.00
      br
      | SENIOR DISCOUNT Free on Tuesday with Green Mountain Passport
      br
      | (Green Mtn Passports can be purchased at your local Town Clerk’s ofce)
    h3 CHILDREN (ages 6-11)
    p
      | Daily Admission 
      strong $5.00
      br
      | SEASON PASS 
      strong $15.00
    h3 CHILDREN (5 years and under)
    p FREE all days.
    hr
    h2 RIDE BRACELET TIMES – Good For ALL day        $25
    p Go to 
      a(href="http://www.dreamlandamusements.com") www.dreamlandamusements.com 
      | for pre-fair-special deals

    h2 GENERAL POLICY
    p
      | An admission fee is charged to each individual upon entering Field Days grounds each and every day from 7:00 a.m. until midnight.
    h3 EXCEPTIONS
    ol
      li
        | Children age 5 and under will be admitted FREE at all times when accompanied by an adult.
      li
        | Active 4-H members and leaders who are exhibiting and volunteering every day will be admitted to the grounds free upon presentation of a special colored 4H/Fair Bracelets. One leader from each club will send a list of active participating members and leaders by July 19th to: 4-H Fair Bracelets, UVM Extension, 23 Pond Lane, Suite 300, Middlebury, VT 05753. 4-H members will receive their Bracelets from their leader or department superintendent
    p
      | NOTE: Special individual rate of $8.00 applies to bus loads or groups of 20 or more people who have made prior arrangements. The payment of a one-day admission bracelet permits the individual re-entry on the grounds during that same day and evening
