extends ../../templates/default

block vars
  -var title = 'General Information'
  -var description = 'General information about the fair, including a fairgrounds map.'

block content
  .text-center
    h1 General Information
    a.btn.btn-primary(href="/files/Field-Days-2019_booklet.pdf") Download Handbook
    br
    br
    .text-center
      a.btn.btn-primary(href="admission") Admissions Fee
      | &emsp;
      a.btn.btn-primary(href="/files/Rules-Regulations.pdf") Rules and Regulations
    hr
  .fixed-width
    p.text-center Use the above link to download the handbook, 
      br
      | which includes all general information about the fair, 
      br
      | including a fairgrounds map.
      br
      br
      | A print edition of the Handbook can be requested 
      br
      | from the Field Days administrator (fielddays at gmavt.net). 
      br
      br
      //- | The 2019 Exhibitor Handbook will be available in the spring.  Check back here for updated information.
    
    
    .text-center
      h3 Map of Grounds
      img(src="/files/2018-map.jpg")
    
