---
Title: 'General Information'
Description: 'General information about the fair, including a fairgrounds map.'
---

.text-center
  h1 General Information
  hr
  //- a.btn.btn-primary(href="/files/Field-Days-2019_booklet.pdf") Download Handbook
  p Use the buttons below to get more information
.fixed-width
  .btn-group.btn-group-lg.btn-group-justified(role="group")
    a.btn.btn-default(href="admission") Admissions Fee
    //- this seems to be ok as a pdf
    //- a.btn.btn-default(href="/files/Rules-Regulations.pdf" target="blank") Rules and Regulations
    a.btn.btn-default(href="rules" target="blank") Rules and Regulations
  hr
  .btn-group-lg.btn-group-justified(role="group")
    a.btn.btn-default(href="map") Map
    a.btn.btn-default(href="board") Board of Directors
    
  hr

  
.fixed-width
  h2 Welcome

  p.
    The Addison County Fair & Field Days Board extends a cordial invitation to you, and your friends and family
    to exhibit at this year’s Addison County Fair & Field Days. 
  p.
    It is our pleasure to
    present the opportunity for area citizens to showcase the quality products which they have produced. 
  p.
    The guidelines and rules linked to above are for anyone wishing to enter something in the competitive exhibit
    departments.
  p.
    We extend our sincere appreciation to all who have exhibited in the past, and look forward to working with
    new, as well as past exhibitors, during our Fair.
  p You can download a pdf version of the 
    a(href="https://www.addisonindependent.com/wp-content/uploads/2023/06/Field-Days-Handbook-2023-combined.pdf") Field Days Handbook here.
  br


  hr

  h3.text-center Frequently Asked Questions 

  ul
    li
      h4 How do I get to the fair, what is the address?
      .row
        .col-md-6 
          p The address of the fair is: 
            br
            a(href="https://goo.gl/maps/NeyWa9DoH12Yn9rR9") 1790 Field Days Rd, Vergennes, VT 05491
        .col-md-6
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11462.625029882605!2d-73.23087447071948!3d44.09044911020801!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb560fe3ba01db9%3A0x1ce43d8857cf583!2s1790%20Field%20Days%20Rd%2C%20Vergennes%2C%20VT%2005491!5e0!3m2!1sen!2sus!4v1628679954338!5m2!1sen!2sus' 
            width='300' height='150' style='border:0;' allowfullscreen='' loading='lazy')
    li
      h4 Are Dogs allowed?

      p Only service animals as 
        a(href="https://www.ada.gov/service_animals_2010.htm") defined by the ADA are allowed.


  
    
  
    
