---
Title: 'Map of Grounds'
Description: 'Map of the fairgrounds.'
---


.text-center
  h1 Maps of Grounds
  hr

  p
    a.btn.btn-sm.btn-default(href="#full-map") Skip to Full Map
  


  a(href="/files/Fair_Map_v1.jpg" target="_blank")
    img.img-responsive(src="/files/Fair_Map_v1-min.jpg")
  
  hr

  h2 Full Map

  a(href="/files/2018-map.jpg" target="_blank")
    img.img-responsive#full-map(src="/files/2018-map.jpg")