doctype html
block vars

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    if title
      title !{title}
    if description
      meta(name='description', content='#{description}')
    meta(name='robots', content='robots.txt')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1')
    meta(name='author', content='James J Nadeau')

    link(rel='manifest', href='/manifest.json')
    link(rel="shortcut icon" href="/files/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/files/favicon.ico" type="image/x-icon")

    link(href='/styles.css', rel='stylesheet', type='text/css')

  body
    // Loading spinner
    #loading.spinner(style='display: none; clear: none;')
      .bounce1
      .bounce2
      .bounce3
    #wrap
      #header.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              | Menu
            img.pull-left.brand.hidden-xs.hidden-sm(src="/files/logo-83x80.jpg")
            a.navbar-brand.brand(href='/') Addison County Fair & Field Days
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/information/') General Information
              li
                a(href='/schedule/') Schedule
              li
                a(href='/exhibits/') Exhibits
              li
                a(href='/forms/') Forms
            //- ul.nav.navbar-nav.navbar-right
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Drop Down Links
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="#") Dead link
      #container.container.animated.fadeInRight
        block content
          div !{content}

    footer.footer
      .container
        p.text-muted.text-center
          a(href="/faq") Have a question?
    
    script(src='/frontend.js?v=#{version}')
    block scripts
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-101892804-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', 'UA-101892804-1');
    
